<div class="row">
    <div class="col-sm-4">
        <img class="card-image" {{bind-attr src=mtgImage}} />
    </div>

    <div class="col-sm-6">
        <h2>{{name}}</h2>

        <p class="card-text">
            {{breaklines text}}
        </p>
    </div>
</div>

