<div class="row">
    <div class="col-sm-9">
        <h2>{{title}}</h2>
    </div>

    <div class="col-sm-3">
        {{#link-to "deck.edit" id classNames="btn btn-default"}}
            Edit
        {{/link-to}}

        <a href="#" class="btn btn-danger" {{action deleteDeck}}>
            Delete
        </a>
    </div>
</div>
