<div class="container">
    <div class="col-sm-3 card-list">
        <div class="search">
            {{input value=search classNames="form-control" placeholder="Search..."}}
        </div>

        {{#each content}}
            {{#link-to "card.detail" id}}
                <h4>{{unbound name}}</h4>
            {{/link-to}}
        {{/each}}
    </div>

    <div class="col-sm-8 col-sm-offset-3">
        {{outlet}}
    </div>
</div>
