<div class="row">
    <div class="col-sm-3 list-group">
        {{#each deck in content}}
            {{#link-to "deck.detail" deck.id classNames="list-group-item"}}
                {{deck.title}}
            {{/link-to}}
        {{/each}}
    </div>

    <div class="col-sm-9">
        {{outlet}}
    </div>
</div>
