<div class="row filter-field">
    <div class="col-sm-4 col-xs-3">
        <label>CMC</label>
    </div>

    <div class="col-sm-8 col-xs-9">
        {{input value=cmc classNames="form-control"}}
    </div>
</div>
